.CreatePage form {
  display: flex;
  flex-direction: column;
}
.CreatePage form div {
  display: flex;
  flex-direction: column;
}
.CreatePage form div input {
  height: 35px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-indent: 10px;
}
.CreatePage form div input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.CreatePage form .submit {
  max-width: 150px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border: 0px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  font-size: 17px;
}

.IndexPage table {
  width: 100%;
  text-align: left;
  font-weight: 100;
  border-collapse: collapse;
}
.IndexPage h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.IndexPage .title th {
  border-bottom: 2px solid #f6f7f9;
  border-top: 2px solid #f6f7f9;
}
.IndexPage table th {
  padding: 10px 20px;
}

.ItemIndexPage th {
  font-weight: 400;
  background: #f1f2f3;
}
.ItemIndexPage th button {
  width: 70px;
  padding: 5px 10px;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  margin-right: 40px;
}
.ItemIndexPage th .edit {
  background: darkcyan;
}
.ItemIndexPage th .del {
  background: red;
}
